{% extends "base.html" %}

{% block menubar %}
{% include "menu.html" with active="/owners/find" %}
{% endblock %}

{% block content %}

<h2>{{t.ownerInformation}}</h2>

<table class="table table-striped">
    <tr>
    <th>{{t.name}}</th>
    <td><b>{{owner.first_name}} {{owner.last_name}}</b></td>
    </tr>
    <tr>
    <th>{{t.address}}</th>
    <td>{{owner.address}}</td>
    </tr>
    <tr>
    <th>{{t.city}}</th>
    <td>{{owner.city}}</td>
    </tr>
    <tr>
    <th>{{t.telephone}}</th>
    <td>{{owner.telephone}}</td>
    </tr>
</table>

<a href="{{owner.id}}/edit" class="btn btn-primary">{{t.editOwner}}</a>
<a href="{{owner.id}}/pets/new" class="btn btn-primary">{{t.addNewPet}}</a>

<br />
<br />
<br />
<h2>{{t.petsAndVisits}}</h2>

<table class="table table-striped">

{% for pet in pets %}
    <tr>
    <td valign="top">
        <dl class="dl-horizontal">
        <dt>{{t.name}}</dt>
        <dd>{{pet.name}}</dd>
        <dt>{{t.birthDate}}</dt>
        <dd>{{pet.birth_date}}</dd>
        <dt>{{t.type}}</dt>
        <dd>{{pet.pet_type}}</dd>
        </dl>
    </td>
    <td valign="top">
        <table class="table-condensed">
        <thead>
            <tr>
            <th>{{t.visitDate}}</th>
            <th>{{t.description}}</th>
            </tr>
        </thead>
        
        <tr>
            <td><a href="{{owner.id}}/pets/{{pet.id}}/edit">{{t.editPet}}</a></td>
            <td><a href="{{owner.id}}/pets/{{pet.id}}/visits/new">{{t.addVisit}}</a></td>
        </tr>
        </table>
    </td>
    </tr>
{% endfor %}
</table>
    <script>
    // Function to hide the success and error messages after 3 seconds
    function hideMessages() {
        setTimeout(function() {
            document.getElementById("success-message").style.display = "none";
            document.getElementById("error-message").style.display = "none";
        }, 3000); // 3000 milliseconds (3 seconds)
    }

    // Call the function to hide messages
    hideMessages();
</script>
{% endblock %}
