<li class="nav-item">
    <a class="nav-link {% ifequal active "/" %}active{% endifequal %}" href="/" title="home page">
        <span class="fa fa-home"></span>
        <span>Home</span>
    </a>
</li>

<li class="nav-item">
    <a class="nav-link {% ifequal active "/owners/find" %}active{% endifequal %}" href="/owners/find" title="find owners">
        <span class="fa fa-search"></span>
        <span>Find Owners</span>
    </a>
</li>

<li class="nav-item">
    <a class="nav-link {% ifequal active "/vets" %}active{% endifequal %}" href="/vets" title="veterinarians">
        <span class="fa fa-th-list"></span>
        <span>Veterinarians</span>
    </a>
</li>

<li class="nav-item">
    <a class="nav-link {% ifequal active "/oups" %}active{% endifequal %}" href="/oups" title="trigger a RuntimeException to see how it is handled">
        <span class="fa fa-exclamation-triangle"></span>
        <span>Error</span>
    </a>
</li>
