<li class="nav-item">
    <a class="nav-link {% ifequal active "/" %}active{% endifequal %}" href="/" title="{{t.home}}">
        <span class="fa fa-home"></span>
        <span>{{t.home}}</span>
    </a>
</li>

<li class="nav-item">
    <a class="nav-link {% ifequal active "/owners/find" %}active{% endifequal %}" href="/owners/find" title="{{t.findOwners}}">
        <span class="fa fa-search"></span>
        <span>{{t.findOwners}}</span>
    </a>
</li>

<li class="nav-item">
    <a class="nav-link {% ifequal active "/vets" %}active{% endifequal %}" href="/vets" title="{{t.vets}}">
        <span class="fa fa-th-list"></span>
        <span>{{t.vets}}</span>
    </a>
</li>

<li class="nav-item">
    <a class="nav-link {% ifequal active "/error" %}active{% endifequal %}" href="/oups" title="trigger a RuntimeException to see how it is handled">
        <span class="fa fa-exclamation-triangle"></span>
        <span>{{t.error}}</span>
    </a>
</li>
