{% if pagination.total > 1 %}
<div>
  <span>{{t.pages}}</span>
  <span>[</span>
  {% for pagenum in pagination.pages %}
    <span>
        {% ifequal pagination.current pagenum %}
            <span>{{pagenum}}</span>
        {% else %}
            <a href="?page={{pagenum}}">{{pagenum}}</a>
        {% endifequal %}
    </span>
  {% endfor %}
  <span>]&nbsp;</span>

  <span>
    {% if pagination.current > 1 %}
    <a href="?page=1" title="{{t.first}}" class="fa fa-fast-backward"></a>
    {% else %}
    <span title="{{t.first}}" class="fa fa-fast-backward"></span>
    {% endif %}
  </span>

  <span>
    {% if pagination.current > 1 %}
    <a href="?page={{pagination.current|add:-1}}" title="{{t.previous}}" class="fa fa-step-backward"></a>
    {% else %}
    <span title="{{t.previous}}" class="fa fa-step-backward"></span>
    {% endif %}
  </span>

  <span>
    {% if pagination.current < pagination.total %}
    <a href="?page={{pagination.current|add:1}}" title="{{t.next}}" class="fa fa-step-forward"></a>
    {% else %}
    <span title="{{t.next}}" class="fa fa-step-forward"></span>
    {% endif %}
  </span>

  <span>
    {% if pagination.current < pagination.total %}
    <a href="?page={{pagination.total}}" title="{{t.last}}" class="fa fa-fast-forward"></a>
    {% else %}
    <span title="{{t.last}}" class="fa fa-fast-forward"></span>
    {% endif %}
  </span>

</div>

{% endif %}