{% ifequal pagination.pages [] %}{% else %}
<div>
  <span>Pages:</span>
  <span>[</span>
  {% for pagenum in pagination.pages %}
    <span>
        {% ifequal pagination.current pagenum %}
            <span>{{pagenum}}</span>
        {% else %}
            <a href="?page={{pagenum}}">{{pagenum}}</a>
        {% endifequal %}
    </span>
  {% endfor %}
  <span>]&nbsp;</span>

  <span>
    {% if pagination.current > 1 %}
    <a href="?page=1" class="fa fa-fast-backward"></a>
    {% else %}
    <span text="#{first}" title="#{first}" class="fa fa-fast-backward"></span>
    {% endif %}
  </span>

  <span>
    {% if pagination.current > 1 %}
    <a href="?page={{pagination.current|add:-1}}" class="fa fa-step-backward"></a>
    {% else %}
    <span text="#{previous}" title="#{previous}" class="fa fa-step-backward"></span>
    {% endif %}
  </span>

  <span>
    {% if pagination.current < pagination.total %}
    <a href="?page={{pagination.current|add:1}}" class="fa fa-step-forward"></a>
    {% else %}
    <span text="#{next}" title="#{next}" class="fa fa-step-forward"></span>
    {% endif %}
  </span>

  <span>
    {% if pagination.current < pagination.total %}
    <a href="?page={{pagination.total}}" class="fa fa-fast-forward"></a>
    {% else %}
    <span text="#{next}" title="#{next}" class="fa fa-fast-forward"></span>
    {% endif %}
  </span>

</div>

{% endifequal %}