{% extends "base.html" %}

{% block menubar %}
{% include "menu.html" with active="/vets" %}
{% endblock %}

{% block content %}
<h2>{{t.vets}}</h2>

<table id="vets" class="table table-striped">
  <thead>
  <tr>
    <th>{{t.name}}</th>
    <th>{{t.specialties}}</th>
  </tr>
  </thead>
  <tbody>
  {% for vet in vets %}
  <tr>
    <td>{{vet.first_name}} {{vet.last_name}}</td>
    <td>
        {% if vet.specialties %}
          {% for s in vet.specialties %}<span>{{ s }} </span>{% endfor %}
        {% else %}
        <span>{{t.none}}</span>
        {% endif %}
    </td>
  </tr>
  {% endfor %}
  </tbody>
</table>

{% include "pagination.html" %}

{% endblock %}
